.mood_card {
  display: flex;
}

.mood_img {
  width: 350px;
  height: auto;
}

.textBox {
  display: flex;
}

.bannerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
